.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    
    margin-bottom: 1.6%;
    line-height: 1.4;
    
    border-radius: 5px;
    z-index: 0;
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
span {  
  position: absolute;  
  height: 180px;
  width: 180px;
  margin: auto;
  align-items: center;
  
  text-align: center;
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
span:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

h3 {
    color: aqua;
    text-shadow: 1px 1px 1px #f30404, 
               3px 3px 5px rgb(19, 2, 1); 
}
.card-img img{
   height: auto;
   max-width: 35%;
   box-shadow: 5px 2px 59px 18px rgba(0,0,0,0.89);
   
  }

  .hidden {
    display: none;
  }
  
  .view-more:not(:checked) ~ label,
  .view-more:checked ~ .hidden {
    display: block;
  }
  
  .view-more,
  .view-more:checked ~ label {
    display: none;
  }

  body { margin: 5px; }

 


  

